.formato1:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* Para IE8 y anteriores */
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.fondoEscaners {
  background-color: darkgray;
}

.carrusel {
  width: 75%;
  height: 50%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}
.carrusel img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.imagen-boton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.imagen-boton .btn {
  margin-top: -50px;
}

.contenedor {
  background-color: rgb(97, 95, 95);
  padding: 20px;
}
